@charset "UTF-8";
html, body, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul, li, a {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: 100; }

img {
  display: block;
  border: 0; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

html, body {
  width: 100%;
  height: 100%; }

.white {
  color: white; }

.spaceRight {
  padding-right: 14px; }

#top {
  width: 100%;
  margin-bottom: 2px; }
  #top .top_p {
    width: 100%;
    background-color: #e3e4e5; }
    #top .top_p .top {
      width: 1240px;
      margin: 0 auto;
      height: 36px; }
      #top .top_p .top a {
        color: #999;
        line-height: 36px;
        font-size: 12px; }
      #top .top_p .top .top_l {
        float: left; }
        #top .top_p .top .top_l a {
          margin: 10px; }
      #top .top_p .top .top_r {
        float: right; }
        #top .top_p .top .top_r a {
          margin: 10px; }
  #top .head {
    width: 1240px;
    margin: 0 auto;
    height: 118px; }
    #top .head h1 {
      height: 118px;
      line-height: 118px;
      float: left; }
      #top .head h1 a {
        display: inline-block;
        vertical-align: middle; }
        #top .head h1 a img {
          vertical-align: middle;
          width: 150px;
          height: 40px;
          display: block; }
    #top .head .head_con {
      width: 830px;
      padding-top: 30px;
      height: 70px;
      float: right; }
      #top .head .head_con .search {
        float: left; }
        #top .head .head_con .search form {
          height: 42px;
          overflow: hidden; }
          #top .head .head_con .search form #search_con {
            width: 400px;
            height: 38px;
            line-height: 38px;
            padding-left: 20px;
            float: left; }
          #top .head .head_con .search form #search_btn {
            display: block;
            width: 72px;
            height: 42px;
            color: white;
            float: left;
            line-height: 42px;
            font-size: 20px;
            text-align: center;
            background: #23ac38; }
        #top .head .head_con .search #keyWords {
          margin-top: 5px;
          font-size: 12px; }
          #top .head .head_con .search #keyWords a {
            color: #999;
            margin-right: 5px; }
      #top .head .head_con .cart {
        float: left;
        width: 156px;
        height: 40px;
        border: 1px solid #ddd;
        font-size: 12px;
        background-color: #f9f9f9;
        text-align: center;
        margin-left: 40px; }
        #top .head .head_con .cart span {
          height: 40px;
          line-height: 40px; }
        #top .head .head_con .cart #icon_cart {
          color: #23ac38;
          padding-right: 6px; }
  #top .menu {
    width: 1240px;
    margin: 0 auto;
    height: 37px;
    position: relative; }
    #top .menu ul .menu_first {
      color: white;
      background: #363636;
      width: 208px;
      text-align: center;
      margin-right: 12px; }
    #top .menu ul .menu_item a {
      color: #323334; }
    #top .menu ul .menu_item .menu_detail {
      width: 1240px;
      overflow: hidden;
      width: 1240px;
      height: 230px;
      position: absolute;
      top: 38px;
      left: 0px;
      display: none;
      z-index: 55;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2); }
      #top .menu ul .menu_item .menu_detail ul .noBorder {
        border: 0px; }
      #top .menu ul .menu_item .menu_detail ul li {
        padding: 0px; }
      #top .menu ul .menu_item .menu_detail ul img {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        width: 120px;
        height: 120px;
        padding: 0 40px;
        border-left: 1px solid #d8d8d8; }
      #top .menu ul .menu_item .menu_detail ul span {
        width: 120px;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        margin-top: 8px;
        display: block;
        color: #323334;
        text-align: center;
        padding: 0 41px; }
    #top .menu ul .menu_item:hover .menu_detail {
      display: block; }
    #top .menu ul li {
      float: left;
      line-height: 37px;
      padding: 0 12px;
      font-size: 15px; }
